*{
    margin: 0;
    top: 0;
     box-sizing: border-box;
 } 
 
 body{
     font-family: 'Oswald', sans-serif;
     font-family: 'Roboto Condensed', sans-serif;
     background-color: #eeeeee;
 }

 :root{
    --purple:#8e44ad;
    --red:#c0392b;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-white:#ccc;
    --light-bg:#f5f5f5;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }
 
 *{
    font-family: 'Rubik', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .2s linear;
 }
 
 *::selection{
    background-color: var(--purple);
    color:var(--white);
 }
 
 *::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: var(--purple);
 }
 
 html{
    font-size: 62.5%;
    overflow-x: hidden;
 }
 
 section{
    padding:3rem 2rem;
 }
 
 .empty{
    padding:1.5rem;
    text-align: center;
    border:var(--border);
    background-color: var(--white);
    color:var(--red);
    font-size: 2rem;
 }

 .title{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color:var(--black);
    font-size: 4rem;
 }
 
 .content{
     background-color: transparent;
     /* text-align: center; */
     font-family: "Roboto", sans-serif;
     font-weight: lighter;
     z-index: 100;
     float: left;
     vertical-align: middle;
     margin-left: 190px;
 }
 
 .content a{
     color: white;
     text-align: center;
     padding: 14px 20px;
     text-decoration: none;
     font-size: 14px;
     border-left: rgb(231, 228, 228, 0.6) 0.2px solid;
     font-weight: bold;
     
 }
 
 .content .u{
     padding-right: 50px;
     border-right:rgb(231, 228, 228, 0.6) 0.2px solid ;
 }
 
 .content .spa{
     padding-right: 50px;
 }
 
 .content a:hover{
     color: rgb(124, 124, 124);
     transition-duration: 0.4s;
 }
 
 .navbar a.active {
     color: rgb(197, 197, 197);
 }
 
 .articles{
     overflow: auto;
     /* text-align: center; */
     margin: auto;
     width: 80%;
     padding-top: 30px;
     overflow: hidden;
     padding-bottom: 60px;
 }
 
 .articles h3{
     color:rgb(228, 2, 2);
     font-size: 30px;
     text-align: left;
 }
 
 .article{
     width:30%;
     float: left;
     border: solid transparent 10px;
     box-sizing: border-box;
     margin-bottom:10px ;
 }
 
 #headline{
     width: 40%;
     float: left;
     border: solid transparent 1px;
     box-sizing: border-box;
     margin-top: 20px;
     text-align: center;
     display: block;
 }
 
 #headline img{
     text-align: center;
     display: flex;
     justify-content: center;
     margin-bottom: 20px;
 }
 
 .article h1{
     font-size: 35px;
     width: 100%;
     text-transform: uppercase;
     margin-bottom: 20px;
     text-align: left;
 }
 
 .article h2{
     margin: 10px 18px;
     text-align: left;
     width: 100%;
     text-transform: uppercase;
 }
 
 .article a{
     text-decoration: none;
     color:  rgb(104, 104, 104);
     text-align: left;
     font-size: 15px;
     font-weight: bolder;
     width: 100%;
     font-family: Helvetica ,Helvetica,Arial,sans-serif ;
 }
 
 .article a:hover{
     color:  rgb(231, 0, 0);
     transition-duration: 0.2s;
 }

 .article p{
     text-align: left;
 }
 
 img{
    width: 200px;
    height: 200px; }
 
 .article p{
   color:  rgb(104, 104, 104);
 }
 
 .article h4 {
     color: rgb(48, 48, 48);
     margin: 18px;
     font-size: 22px;
     font-weight: 400;
 }
 
 .justify-content-center{
     justify-content: center;
     display: flex;
     align-items: center;
 }
 
 .hello{
     width: 90%;
     margin: auto;
     padding-left: 60px;
 }
 
 .products2{
     overflow: auto;
     margin: auto;
     width: 100%;
     padding-top: 30px;
     overflow: hidden;
     background-color: #1a1a1a;
     padding-bottom: 20px;
 }
 
 .products2 h2{
     text-transform: uppercase;
     color: white;
 }
 
 #huge{
     width: 60%;
     float: left;
     border: solid transparent 10px;
     box-sizing: border-box;
     margin-top: 20px;
     text-align: left;
     display: block;
 }
 
 .product1{
     width:25%;
     float: left;
     border: solid transparent 16px;
     box-sizing: border-box;
     text-align: center;
     margin-top: 10px;
 
 }
 
 .product1 h1{
     font-size: 35px;
     width: 100%;
     text-transform: uppercase;
     margin-bottom: 20px;
     text-align: left;
 }
 
 .product1 h2{
     margin: 10px 18px;
     text-align: left;
     width: 100%;
     text-transform: uppercase;
 }
 
 .product1 a{
     text-decoration: none;
     color:  rgb(231, 231, 231);
     text-align: left;
     font-size: 20px;
     font-weight: bolder;
     width: 100%;
     font-family: Helvetica ,Helvetica,Arial,sans-serif ;
 }
 
 .product1 a:hover{
     color:  rgb(231, 0, 0);
     transition-duration: 0.2s;
 }
 
 .product1 img{
     width: 100%; 
 }
 
 
 .product1 h4 {
     color: rgb(48, 48, 48);
     margin: 18px;
     font-size: 22px;
     font-weight: 400;
 }
 
 .blog{
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
    border-left: rgb(231, 228, 228, 0.6) 0.2px solid;
    font-weight: bold;
 }
 
 .blog h2{
     text-align: left;
     color: rgb(10, 10, 10);
     font-size: 20px;
     padding: 30px 0;
     margin-top:40px;
     margin-left: 120px;
     text-transform: uppercase;
 }
 
 .blog hr{
     transform: matrix(1,0,0,1,707,20);
     width: 100px;
 }
 
 .blog .hr1{
     transform: matrix(1,0,0,1,668,20);
     width: 190px;
 }
 
 .section{
     width: 25%;
     float: left;
     box-sizing: border-box;
     margin: 40px 10px 0px 0px;
     background-color: transparent;
     /* padding-bottom:27px; */
 }
 
 #haaa{
     margin-left: 120px;
 }
 
 .section img{
     width: 100%;
 }
 
 .ari{
     width: 100%;
 }
 
 .ari p{
     padding: 5px 10px;
     color: rgb(85, 85, 85);
 }
 
 .ari h3{
     color: rgb(51, 51, 51);
     font-size: 24px;
     padding: 10px 10px 1px 10px;
     transition-timing-function: ease-in-out;
     transition-duration: 0.1s;
 }
 
 .ari a{
     text-decoration: none;
     color: rgb(51, 51, 51);
     padding: 10px;
     transition-timing-function: ease-in-out;
     transition-duration: 0.1s;
 }
 
 .mm{
     transition-timing-function: ease-in-out;
     transition-duration: 0.1s;
 }
 
 .mhmm{
     transition-timing-function: ease-in-out;
     transition-duration: 0.1s;
 }
 
 .mhmm:hover{
     color: rgb(255, 0, 0);
 }
 .footer{
     margin-top: 50px;
     width: 100%;
     background-color: black;
     height: 120px;
     overflow: hidden;
 }
 .starter{
     color: white;
     font-family: Helvetica ,Helvetica,Arial,sans-serif ;
 }
 .s1{
     float: left;
     padding-top: 60px;
     margin-left: 120px
 }
 .s1 a{
     color: rgb(255, 255, 255);
     padding-left: 40px;
     font-size: 13px;
     transition-timing-function: ease-in-out;
     transition-duration: 0.3s;
 }
 
 .s1 a:hover{
     color: rgb(134, 211, 255);
 }

.navbar h2{
    color: white;
    font-weight: 900;
    vertical-align: middle;
    float: left;
    font-size: 20px;
    margin-left: 150px;
    margin-top: 3px;
}

.navbar a.active {
   color: rgb(197, 197, 197);
}

.content{
    background-color: transparent;
    /* text-align: center; */
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    z-index: 100;
    float: left;
    vertical-align: middle;
    margin-left: 190px;
}

.content a{
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 14px;
    border-left: rgb(231, 228, 228, 0.6) 0.2px solid;
    font-weight: bold;
}

.content .u{
    padding-right: 50px;
    border-right:rgb(231, 228, 228, 0.6) 0.2px solid ;
}

.content .spa{
    padding-right: 50px;
}

.content a:hover{
    color: rgb(124, 124, 124);
    transition-duration: 0.4s;
}

 *{
    margin: 0;
    top: 0;
     box-sizing: border-box;
 } body{
     font-family: 'Oswald', sans-serif;
     font-family: 'Roboto Condensed', sans-serif;
     background-color: #eeeeee;
 }
     p{
         color:white;
     }
 
 
 .navbar h2{
     color: white;
     font-weight: 900;
     vertical-align: middle;
     float: left;
     font-size: 20px;
     margin-left: 150px;
     margin-top: 3px;
 }
 
 .content{
     background-color: transparent;
     /* text-align: center; */
     font-family: "Roboto", sans-serif;
     font-weight: lighter;
     z-index: 100;
     float: left;
     vertical-align: middle;
     margin-left: 30px;
 }
 
 .content a{
     color: white;
     text-align: center;
     padding: 14px 20px;
     text-decoration: none;
     font-size: 14px;
     border-left: rgb(231, 228, 228, 0.6) 0.2px solid;
     font-weight: bold;
 }
 
 .content .u{
     padding-right: 50px;
     border-right:rgb(231, 228, 228, 0.6) 0.2px solid ;
 }
 
 .content .spa{
     padding-right: 50px;
 }
 
 .content a:hover{
     color: rgb(124, 124, 124);
     transition-duration: 0.4s;
 }
 
 .navbar a.active {
     color: rgb(197, 197, 197);
 }
 
 .div1{
     color:red;
   padding: 10px;
   font-size:20px ;
   font-family: Helvetica ,Helvetica,Arial,sans-serif ;
   width: 90%;
 }
 .div1 p{
     color:rgb(0, 0, 0);
     padding: 10px;
     font-size: 20px;
     width: 85%;
     text-align: right; 
     float: right;
     padding-bottom: 49px;
 }
 .slide{
     float: left;
     margin-left: 160px;
     margin-top: 10px;
 }
 
 .div2 p{
     color:rgb(0, 0, 0);
     padding: 10px;
     font-size: 20px;
     width: 85%;
     text-align: right; 
     float: right;
     padding-bottom: 49px;
 }
 
 
 .div3 p{
     color: red;
     padding: 10px;
     font-size: 20px;
     width: 85%;
     text-align: right; 
     float: right;
     padding-bottom: 49px;
 }

.content{
    display: flex;
}
 h3{
     margin:20px;
 }
 a{
     text-decoration: none;
color:black;
 }
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: auto;
    border-radius: 2px;
    background-color:#fff;
    text-align: center;
    margin: 20px;
    padding: 20px;

}
  

  
  .card img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 220px;
    border-radius: 10%;
    margin-bottom: 10px;
    padding: 20px;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
  
  .text-content{
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
  }
  
  .card-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;
  }
  
  .card:hover{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  

  .header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--light-color);
    box-shadow: var(--box-shadow);
 }
 
 .header .flex{
    display: flex;
    align-items: center;
    padding:2rem;
    justify-content: space-between;
    position: relative;
    max-width: 1200px;
    margin:0 auto;
 }
  
 .header .flex .logo{
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .header .flex .logo span{
    color:var(--purple);
 }
 
 .header .flex .navbar a{
    margin:0 1rem;
    font-size: 2rem;
    color:var(--black);
 }
 
 .header .flex .navbar a:hover{
    color:var(--purple);
 }
 
 .header .flex .icons div{
    margin-left: 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--black);
 }
 
 .header .flex .icons div:hover{
    color:var(--purple);
 }
 
 .header .flex .account-box{
    position: absolute;
    top:120%; right:2rem;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
    border-radius: .5rem;
    border:var(--border);
    background-color: var(--white);
    display: none;
    animation:fadeIn .2s linear;
 }
 
 .header .flex .account-box.active{
    display: inline-block;
 }
 
 .header .flex .account-box p{
    font-size: 2rem;
    color:var(--light-color);
    margin-bottom: 1.5rem;
 }
 
 .header .flex .account-box p span{
    color:var(--purple);
 }
 
 .header .flex .account-box .delete-btn{
    margin-top: 0;
 }
 
 .header .flex .account-box div{
    margin-top: 1.5rem;
    font-size: 2rem;
    color:var(--light-color);
 }
 
 .header .flex .account-box div a{
    color:var(--orange);
 }
 
 .header .flex .account-box div a:hover{
    text-decoration: underline;
 }
 
  